@import url('https://fonts.google.com/specimen/Karla');

@media (max-width: 375px) {
    body{
        font-family: Karla;
        margin:0px;
        box-sizing: border-box;
    }
    main {
        display: grid;
        grid-template-rows: 0.5fr 1.5fr; /* Două coloane egale */
        grid-gap: 20px; /* Spațiu între elemente */
        width: calc(5% - 5px);
    }
    #section1{
      margin-left:30px;
      display: grid;
      grid-template-rows:0.2fr 0.2fr 0.2fr;
    }
    
    #section2{
        display: grid;
        grid-template-rows: 1fr 1fr;
        background-color: hsl(179, 62%, 43%);
    }

    .h1s1{
        color:hsl(179, 62%, 43%);
    }

    #h3s1{
    color: hsl(71, 73%, 54%);
    width: 300px;
    }

    #text1{
    color: hsl(218, 22%, 67%);
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: 280px;
    }

    #price-time{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: calc(50% - 2px); 
    }
    .container1{
        padding-top: 18px;
        margin-left:30px;
        padding-bottom: 40px;
    }
    .container2{
    padding-bottom: 40px;
    padding-top: 18px;
    padding-left: 10px;
    }
    .container2:hover{
        background-color: hsl(181, 46%, 58%);
    }
    #h3s2{
        color: white;
    }
    #dolar{
        font-size: 30px;
        color:white;
    }
    #times{
        padding-top: 8px;
        opacity: 0.5;
        color:white;
        width: 90px;
        padding-left: 9px;
    }
    #text2{
        color:white;
        margin-bottom: 25px;
    }
    button{
        background-color:  hsl(71, 73%, 54%);
        color:white;
        height: 50px;
        width:240px;
        font-size: 15px;
        border:none;
        border-radius: 4px;
    }
    button:hover{
        color:rgb(231, 231, 123);
    }
    #h3s2c2{
        margin-left: 15px;
        color:white;
    }
    #c2{
        display:grid;
        color:white;
        margin-left: 15px;
        font-size: 14px;
        width:180px; 
    }
}
@media (min-width: 1340px) {
    body{
        font-family: Karla;
        margin:0px;
        box-sizing: border-box;
    }
    main {
        display: grid;
        grid-template-rows: 1fr 1.5fr; /* Două coloane egale */
        grid-gap: 0px; /* Spațiu între elemente */
        width: calc(5% - 5px);
    }
    #section1{
      margin-left:30px;
      display: grid;
      grid-template-rows:0.2fr 0.7fr 1fr;
    }
    
    #section2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: hsl(179, 62%, 43%);
    }

    .h1s1{
        color:hsl(179, 62%, 43%);
    }

    #h3s1{
    color: hsl(71, 73%, 54%);
    }

    #text1{
    color: hsl(218, 22%, 67%);
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: 500px;
    }

    #price-time{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: calc(50% - 2px); 
    }
    .container1{
        padding-top: 18px;
        margin-left:30px;
        padding-bottom: 40px;
    }
    .container2{
    padding-bottom: 40px;
    padding-top: 18px;
    }
    .container2:hover{
        background-color: hsl(181, 46%, 58%);
    }
    #h3s2{
        color: white;
    }
    #dolar{
        font-size: 30px;
        color:white;
    }
    #times{
        padding-top: 8px;
        opacity: 0.5;
        color:white;
        width: 90px;
        padding-left: 9px;
    }
    #text2{
        color:white;
        margin-bottom: 25px;
    }
    button{
        background-color:  hsl(71, 73%, 54%);
        color:white;
        height: 50px;
        width:240px;
        font-size: 15px;
        border:none;
        border-radius: 4px;
    }
    button:hover{
        color:rgb(231, 231, 123);
    }
    #h3s2c2{
        margin-left: 15px;
        color:white;
    }
    #c2{
        display:grid;
        color:white;
        margin-left: 15px;
        font-size: 14px;
        width:160px;
    }
}

